@model StudentRegistration.Models.ListSCViewModel

@{
    ViewBag.Title = "Add Student Course";
}

<h2>Addmultiple courses For a student</h2>

@using (Html.BeginForm("AddList", "StudentCourse", FormMethod.Post))
{
    <div class="form-group">
        <label for="Students_Id" class="control-label">Student Name</label>
        @Html.DropDownListFor(model => model.Students.Id, (SelectList)ViewBag.Students, "Select a Student", new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label for="Courses_Id" class="control-label">Course Name</label>
        @foreach (var course in ViewBag.Courses)
        {
        <label class="checkbox-inline">
            <input type="checkbox" name="SelectedCourseIds" value="@course.Value" /> @course.Text
        </label>
        }
    </div>
    <input type="submit" value="Add" class="btn btn-primary" />
}




