@model StudentRegistration.Models.AddCourseViewModel

@{
}
<h1>Add Course Details</h1>
<form method="post" action="Add" class="mt-5">
    <div class="mb-3">
        <label for="" class="form-label">CourseName</label>
        <input type="text" class="form-control" asp-for="CourseName">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">CourseCode</label>
        <input type="text" class="form-control" asp-for="CourseCode">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>